body {
	background-color: black
}
label, legend {
	color: white
}
label, input, legend {
	font-family: Verdana, Arial, Sans Serif;
	font-size: 10px;
}
html, body {
	width:  100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
}
.inputBox {
	width: 150px;
	text-align: right;
}
input {
	width: 50px;
}
fieldset {
	margin: 10px;
	width: 150px;
	border: 1px solid white;
}
#controls {
	position: absolute;
    z-index: 3;
}
#landscape {
	position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
}
#evolver {
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}
svg {
    border: 1px solid white;
    margin: 10px;
    width: 175px;
    height: 500px;
}

.ui-slider .ui-slider-handle {
    cursor: default;
    height: 0.6em !important;
    position: absolute;
    width: 0.6em !important;
    z-index: 2;
}

